
DiscoverCR/DiscoverCR/DiscoverCR.iOS/obj/iPhoneSimulator/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DiscoverCR/DiscoverCR/DiscoverCR.iOS/obj/iPhoneSimulator/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DiscoverCR/DiscoverCR/DiscoverCR.iOS/obj/iPhoneSimulator/Debug/DiscoverCR.iOS.csproj.AssemblyReference.cache
DiscoverCR/DiscoverCR/DiscoverCR.iOS/obj/iPhoneSimulator/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DiscoverCR/DiscoverCR/DiscoverCR/obj/Debug/netstandard2.0/DiscoverCR.csproj.AssemblyReference.cache
DiscoverCR/DiscoverCR/DiscoverCR.UWP/obj/x64/Debug/XamlSaveStateFile.xml
DiscoverCR/.vs/DiscoverCR/v16/.suo
*.v2
DiscoverCR/.vs/DiscoverCR/v16/.suo
*.cache
