
DiscoverCR/DiscoverCR/DiscoverCR.iOS/obj/iPhoneSimulator/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DiscoverCR/DiscoverCR/DiscoverCR.iOS/obj/iPhoneSimulator/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DiscoverCR/DiscoverCR/DiscoverCR.iOS/obj/iPhoneSimulator/Debug/DiscoverCR.iOS.csproj.AssemblyReference.cache
DiscoverCR/DiscoverCR/DiscoverCR.iOS/obj/iPhoneSimulator/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DiscoverCR/DiscoverCR/DiscoverCR/obj/Debug/netstandard2.0/DiscoverCR.csproj.AssemblyReference.cache
DiscoverCR/DiscoverCR/DiscoverCR.UWP/obj/x64/Debug/XamlSaveStateFile.xml
DiscoverCR/.vs/DiscoverCR/v16/.suo
*.v2
.vs/slnx.sqlite
DiscoverCR/DiscoverCR/DiscoverCR.UWP/bin/x64/Debug/DiscoverCR.UWP.exe
DiscoverCR/DiscoverCR/DiscoverCR.UWP/bin/x64/Debug/DiscoverCR.dll
DiscoverCR/DiscoverCR/DiscoverCR.UWP/bin/x64/Debug/DiscoverCR.pdb
DiscoverCR/DiscoverCR/DiscoverCR.UWP/obj/x64/Debug/DiscoverCR.UWP.csproj.AssemblyReference.cache
DiscoverCR/DiscoverCR/DiscoverCR.UWP/obj/x64/Debug/DiscoverCR.UWP.exe
DiscoverCR/DiscoverCR/DiscoverCR.UWP/obj/x64/Debug/ResourceHandlingTask.state
DiscoverCR/DiscoverCR/DiscoverCR.UWP/obj/x64/Debug/XamlSaveStateFile.xml
DiscoverCR/DiscoverCR/DiscoverCR.UWP/obj/x64/Debug/intermediatexaml/DiscoverCR.UWP.exe
DiscoverCR/DiscoverCR/DiscoverCR.UWP/obj/x64/Debug/intermediatexaml/DiscoverCR.UWP.pdb
DiscoverCR/DiscoverCR/DiscoverCR.iOS/obj/iPhoneSimulator/Debug/DiscoverCR.iOS.csproj.AssemblyReference.cache
DiscoverCR/DiscoverCR/DiscoverCR/bin/Debug/netstandard2.0/DiscoverCR.dll
DiscoverCR/DiscoverCR/DiscoverCR/bin/Debug/netstandard2.0/DiscoverCR.pdb
DiscoverCR/DiscoverCR/DiscoverCR/obj/Debug/netstandard2.0/DiscoverCR.dll
DiscoverCR/DiscoverCR/DiscoverCR/obj/Debug/netstandard2.0/DiscoverCR.pdb
